<div class="paper-container">
    <div class="paper-top">
        <div class="title-container">
            <h2>Contact Me</h2>
        </div>
    </div>
    <div class="decoration-line-between-papers"></div>
    <div class="paper-middle">
        <div class="content-area">
            <p>Feel free to reach out! You can contact me directly via email at <a
                    href="mailto:shotamuradashvili492&#64;gmail.com"
                    style="color: #9d1818;">shotamuradashvili492&#64;gmail.com</a>. (And who knows, maybe one day I'll
                even receive an email from Hiro Mashima himself about my dream! •ᴗ•)</p>
        </div>
    </div>
    <div class="paper-bottom"></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>