<ng-container *ngFor="let item of newsItems">
    <div class="paper-container news-item-paper">
        <div class="paper-top">
            <div class="title-container">
                <h2>{{ item.title }}</h2>
            </div>
        </div>
        <div class="decoration-line-between-papers"></div>
        <div class="paper-middle">
            <div class="content-area">
                <p>{{ item.content }}</p>
                <p class="news-date"
                    style="color: #9d1818; font-style: italic; font-family: 'PT Serif', serif; font-weight: bold;">{{
                    item.date }}</p>
            </div>
        </div>
        <div class="paper-bottom"></div>
    </div>
</ng-container>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>