<div class="paper-container">
    <div class="paper-top">
        <div class="title-container">
            <h2>About Me</h2>
        </div>
    </div>
    <div class="decoration-line-between-papers"></div>
    <div class="paper-middle">
        <div class="content-area">
            <p>My name is Shota. Most people online know me as "zuxrok," my online nickname. I am from the country of
                Georgia and am an aspiring Game and Web Developer. I truly love coding, though I'm not a fan of
                math—it's just too complicated! Interestingly, literature is also complex, but I absolutely adore it.
                Crazy, right? I also have a passion for learning languages! I'm currently studying Japanese, and I
                already know German, Russian, and English. I once wanted to learn Greek and even started Latin, but I
                realized I can't master everything at once! Japanese is incredibly unique and exciting, quite unlike any
                other language. While it presents a unique difficulty (I still can't believe there are over 50,000 Kanji
                characters!), I'm definitely ready to tackle this journey! Beyond languages, I genuinely enjoy learning
                history, finding it thrilling to discover different countries and their cultures.</p>
            <p>I've always wanted to do something special to help make the world a better place, though my ideas have
                sometimes been childish, often overly ambitious, and occasionally even wild! When I discovered the anime
                series <em>Fairy Tail</em> a few years ago, my life truly changed. I started watching the show with
                great enthusiasm because it brought me immense happiness and a powerful drive to always keep moving
                forward. It felt like my salvation! I still watch it today, and I've re-watched many episodes because I
                never want that wonderful feeling to end!</p>
            <p>I believe <em>Fairy Tail</em>'s creator, Hiro Mashima, understands a great deal about human connections.
                I vividly recall reading his words about the series, where he mentioned creating it from a place of
                loneliness. Those words deeply resonated with me, because, honestly, no one comprehends a lonely person
                better than someone who has experienced it themselves. If I were to start discussing <em>Fairy Tail</em>
                here, I might never stop! It's incredibly valuable to me and has transformed and motivated me in
                countless ways. You can visit the "DREAM" page to see just how profound an impact it has had on my
                future.</p>
        </div>
    </div>
    <div class="paper-bottom"></div>
</div>