<ng-container *ngFor="let item of galleryItems; last as isLast">
    <div class="paper-container gallery-item-paper">
        <div class="paper-top">
            <div class="title-container">
                <h2>{{ item.title }}</h2>
            </div>
        </div>
        <div class="decoration-line-between-papers"></div>
        <div class="paper-middle">
            <div class="content-area">
                <div class="gallery-image-placeholder" [ngStyle]="getBackgroundImageStyle(item.imageUrl)"></div>
            </div>
        </div>
        <div class="paper-bottom"></div>
    </div>
    <div *ngIf="!isLast" class="decoration-line-between-papers"></div>
</ng-container>