<div class="header-section">
    <div class="header-background-container"></div>
    <div class="header-background-line"></div>
    <div class="header-content">
        <div class="logo-display-area"></div>
        <div class="top-left-buttons">
            <a routerLink="/home" class="nav-button home-button"></a>
            <a routerLink="/about" class="nav-button about-button"></a>
        </div>
        <div class="bottom-left-buttons">
            <a routerLink="/contact" class="nav-button contact-button"></a>
            <a href="https://www.youtube.com/@zuxrok" target="_blank" class="nav-button channel-button"></a>
        </div>
        <div class="top-right-buttons">
            <a routerLink="/news" class="nav-button news-button"></a>
            <a routerLink="/projects" class="nav-button projects-button"></a>
        </div>
        <div class="bottom-right-buttons">
            <a routerLink="/gallery" class="nav-button gallery-button"></a>
            <a routerLink="/dream" class="nav-button dream-button"></a>
        </div>
    </div>
</div>
