.header-section {
    position: relative;
    width: 100%;
    height: calc(280 / 1920 * 100vw);
    overflow: hidden;
    background-color: transparent;
}

.header-background-container,
.header-background-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 69.2%;
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: 1;
}

.header-background-container {
    background-image: url('../../../assets/Header.png');
    opacity: 0.8;
}

.header-background-line {
    background-image: url('../../../assets/Header_Line.png');
}

.header-content {
    position: relative;
    width: 75%;
    height: 80%;
    margin: 0 auto;
    z-index: 2;
}

.logo-display-area {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 7vw;
    background-size: 100% 100%;
    background-image: url('../../../assets/Logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
    filter: drop-shadow(0 0 calc(25 / 1920 * 100vw) rgba(255, 255, 255, 0.541)) drop-shadow(0 0 calc(30 / 1920 * 100vw) rgba(255, 255, 255, 0.541));
}

.top-left-buttons,
.bottom-left-buttons,
.top-right-buttons,
.bottom-right-buttons {
    position: absolute;
    display: flex;
    z-index: 4;
}

.top-left-buttons {
    top: 0.6vw;
    left: 7.7vw
}

.bottom-left-buttons {
    bottom: 2.9vw;
    left: 7.7vw
}

.top-right-buttons {
    top: 0.6vw;
    right: 7.7vw
}

.bottom-right-buttons {
    bottom: 2.9vw;
    right: 7.7vw
}

.nav-button {
    width: 8vw;
    height: 4vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: calc(-1 / 1920 * 100vw) calc(3 / 1920 * 100vw);
    box-shadow: inset 0 0 0 calc(1 / 1920 * 100vw) rgba(255, 255, 255, 0.8);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.home-button {
    background-image: url('../../../assets/Home_Dark.png');
}

.about-button {
    background-image: url('../../../assets/About_Dark.png');
}

.contact-button {
    background-image: url('../../../assets/Contact_Dark.png');
}

.channel-button {
    background-image: url('../../../assets/Channel_Dark.png');
}

.news-button {
    background-image: url('../../../assets/News_Dark.png');
}

.projects-button {
    background-image: url('../../../assets/Projects_Dark.png');
}

.gallery-button {
    background-image: url('../../../assets/Gallery_Dark.png');
}

.dream-button {
    background-image: url('../../../assets/Dream_Dark.png');
}

.nav-button:hover {
    opacity: 1;
}

.home-button:hover {
    background-image: url('../../../assets/Home_Gradient.png');
}

.about-button:hover {
    background-image: url('../../../assets/About_Gradient.png');
}

.contact-button:hover {
    background-image: url('../../../assets/Contact_Gradient.png');
}

.channel-button:hover {
    background-image: url('../../../assets/Channel_Gradient.png');
}

.news-button:hover {
    background-image: url('../../../assets/News_Gradient.png');
}

.projects-button:hover {
    background-image: url('../../../assets/Projects_Gradient.png');
}

.gallery-button:hover {
    background-image: url('../../../assets/Gallery_Gradient.png');
}

.dream-button:hover {
    background-image: url('../../../assets/Dream_Gradient.png');
}