<div class="paper-container">
    <div class="paper-top">
        <div class="title-container">
            <h2>Welcome!</h2>
        </div>
    </div>
    <div class="decoration-line-between-papers"></div>
    <div class="paper-middle">
        <div class="content-area">
            <p>Hey there! It's so good to see you! On this website, you'll find a lot to explore. You can learn about me
                on the "ABOUT" page, connect through the "CONTACT" page, check out my YouTube channel on the "CHANNEL"
                page, read the latest news on the "NEWS" page, discover games I've made by visiting the "PROJECTS" page,
                or explore the gallery on the "GALLERY" page. Plus, you can delve into my one and only dream by heading
                to the "DREAM" page.</p>
        </div>
    </div>
    <div class="paper-bottom"></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>