<div class="paper-container">
    <div class="paper-top">
        <div class="title-container">
            <h2>My Dream</h2>
        </div>
    </div>
    <div class="decoration-line-between-papers"></div>
    <div class="paper-middle">
        <div class="content-area">
            <p>My ultimate dream is to contribute to game development for the <em>Fairy Tail</em> series! I am currently
                learning game development in Unity. My skills are not yet as advanced or professional as required to
                even come close to working on game development for <em>Fairy Tail</em>; however, I am learning, and my
                dream is absolute! It will take a lot of time and dedication to achieve my dream, but the most valuable
                lesson the show has taught me is to never give up hope and never stop fighting.</p>
            <p>This anime series has had some very nice games made for it. However, I believe there's potential for even
                more wonderful games to be created. Since I started watching <em>Fairy Tail</em>, I've always wanted to
                be involved with the series in my future. Realizing my passion for programming, I saw an opportunity to
                use my skills to contribute to the world of <em>Fairy Tail</em>.</p>
        </div>
    </div>
    <div class="paper-bottom"></div>
</div>